<div class="wrap">
  <div class="conItem +' '+styles.left">
    <div class="top">
      <button class="addMock">Add Mock</button>
    </div>
    <div class="itemList">
          <div title={mock.url}
            class="mockItem+' '+(this.state.curMockIndex === index && styles.active)">
            <div class="name">mock.name</div>
            <div class="url">mock.url</div>
          </div>
    </div>
  </div>
  <!-- <div class="conItem +' '+styles.center">
    <div class="top">
      <button class="addOtion">Add Option</button>
    </div>
    <div class="itemList">
          <div  title={option.key}
            class="optionItem+' '+(this.state.curOptionIndex === index && styles.active)">
            <div class="key">{{option.key}</div>
            <div class="desc">{{option.desc}</div>
            <div class="path">{{option.path}</div>
          </div>
    </div>
  </div>
  <div class="conItem +' '+styles.right">
    <div class="top" click="addMock">
      <button class="rightBtn +' '+ styles.active">Option edit</button>
      <button class="rightBtn">Option template</button>
      <button class="rightBtn">Response data</button>
      <button class="rightBtn">Open in browser</button>
    </div>
    <div class="mockDetail">
    </div>
  </div> -->
</div>
